html, body{
    font-weight: 400 !important;
    font-family: 'Poppins', sans-serif !important;
}

.primary-color{
    color: #4e51fd;
}

.btn-sz-primary{
    width: 100%;
    color: white !important;
    background-color: #4e51fd;
}

.btn-sz-primary:hover{
    background-color: #3c3ff8;
}

.main-text{
    font-size: 25px;
    line-height: 1.4;
    letter-spacing: 3px;
}

.main-input{
    width: 80%;
    border: none !important;
    box-shadow: none !important;
    border-radius: 0px !important;
    border-bottom: 2px solid #4e51fd !important;
}

.success-message {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    display: none; /* Initially hidden */
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

.alert-message {
    background-color: #FF5733; 
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    display: none; /* Initially hidden */
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}


